<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="title">freebread</div>
    <button class="button button-icon icon ion-refresh" ng-click="reload()"></button>
  </ion-nav-buttons>
	<ion-content>
    <div class="card" ng-cloak ng-repeat="bread in breads">
      <div class="item item-divider">
        {{ bread.title }}
      </div>
      <div class="item item-image">
        <img class="new-bread" ng-style="{'background-image': 'url(data:image/png;base64,' + bread.img + ')'}" alt="">
      </div>
    </div>
  </ion-content>
</ion-view>