/* Empty. Add your own CSS if you like */
.new-bread {
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 270px;
    min-height: 270px;
    max-height: 270px;
}