/* Empty. Add your own CSS if you like */
.new-bread {
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 270px;
    min-height: 270px;
    max-height: 270px;
}

.card-remove-effect {
	-webkit-transition: all linear 500ms;
	   -moz-transition: all linear 500ms;
	    -ms-transition: all linear 500ms;
	     -o-transition: all linear 500ms;
	        transition: all linear 500ms;
}

.card-remove-effect.ng-hide {
	-webkit-transform: translateX(100%);
	   -moz-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	     -o-transform: translateX(100%);
	        transform: translateX(100%);
}